{% extends "::base.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-3 sidebar" ng-controller="SidebarController">
            <div class="sidebar-module">
                <div class="sidebar-user">
                    {% verbatim %}
                    <div class="user-photo left">
                        <img ng-src="{{ me.image.user_small }}">
                    </div>
                    <div class="user-name left">{{ me.name }}<br/>{{ me.lastname }}</div>
                    <div class="clear"></div>
                    {% endverbatim %}
                </div>
            </div>
            <div class="sidebar-module">
                <ol class="nav user">
                    <li><a href="#/me"><img src="{{ asset('bundles/nfqfairytalefrontend/ico-check.png') }}">Dabar
                            skaitau</a></li>
                    <li><a href="#"><img src="{{ asset('bundles/nfqfairytalefrontend/ico-clock.png') }}">Rezervuotos
                            knygos</a></li>
                    <li><a href="#"><img src="{{ asset('bundles/nfqfairytalefrontend/ico-pencil.png') }}">Pasiųlyti
                            knygą</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <div class="sidebar-header">SRITYS</div>
                <ol class="nav">
                    <li>Populiariausios</li>
                    <li>Naujos</li>
                    <li><a href="#">Visos</a></li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module categories">
                {% verbatim %}
                <ol class="nav" ng-repeat="category in categories">
                    <li>
                        <a ng-href="#/category/{{ category.id }}" ng-class="{active: category.id == activeCategoryId}">{{ category.title }}</a>
                    </li>
                </ol>
                {% endverbatim %}
            </div>
        </div>
        <div class="col-md-9 content">
            <div class="row header">
                <div class="col-md-4 logo">
                    <img src="{{ asset('bundles/nfqfairytalefrontend/logo.png') }}" class="left">

                    <div class="left"><p>Bi</p>

                        <p>blio</p>

                        <p>teka</p></div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-8 search">
                    <img src="{{ asset('bundles/nfqfairytalefrontend/ico-search.png') }}">
                    <input type="text" placeholder="Ieškoti knygos">
                </div>
            </div>
            <div ng-view>{% block view %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

    <script>
        var activeUser = {{ activeUser |json_encode |raw }};
    </script>
    {% javascripts
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Sidebar/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/User/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Category/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
