{% extends "::base.html.twig" %}

{% block container %}
    {% verbatim %}
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="sidebar-module" ng-app="controller.User" ng-init="userController.id=2">
                <div class="sidebar-user" ng-controller="userController">
                    <div class="user-photo left">{{ user.photo }}</div>
                    <div class="user-name left">{{ user.name }}<br />{{ user.surname }}</div>
                    <div class="clear"></div>
                </div>
            </div>
    {% endverbatim %}
            <div class="sidebar-module">
                <ol class="nav user">
                    <li><img src="{{ asset('bundles/nfqfairytalefrontend/ico-check.png') }}">Dabar skaitau</li>
                    <li><img src="{{ asset('bundles/nfqfairytalefrontend/ico-clock.png') }}">Rezervuotos knygos</li>
                    <li><img src="{{ asset('bundles/nfqfairytalefrontend/ico-pencil.png') }}">Pasiųlyti knygą</li>
                </ol>
            </div>
    {% verbatim %}
            <div class="sidebar-module">
                <div class="sidebar-header">SRITYS</div>
                <ol class="nav">
                    <li>Populiariausios</li>
                    <li>Naujos</li>
                    <li>Visos</li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module categories">
                <ol class="nav" ng-repeat="category in categories">
                    <li>{{ category.name }}</li>
                </ol>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron"></div>
            <div class="row"></div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="bundles/nfqfairytalefrontend/scripts/Controller/UserController.js"></script>
{% endblock %}
