{% extends "::base.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-3 sidebar" ng-controller="SidebarController">
            <div class="sidebar-module">
                <div class="sidebar-user">
                    {% verbatim %}
                    <div class="user-photo left">
                        <img ng-src="{{ me.image.user_small }}">
                    </div>
                    <div class="user-name left">{{ me.name }}<br/>{{ me.lastname }}</div>
                    <div class="clear"></div>
                    {% endverbatim %}
                </div>
            </div>
            <div class="sidebar-module">
                <ol class="nav user">
                    <li><a href="#/me"><img src="{{ asset('bundles/nfqfairytalefrontend/ico-check.png') }}">Dabar
                            skaitau</a></li>
                    <li><a href="#"><img src="{{ asset('bundles/nfqfairytalefrontend/ico-clock.png') }}">Rezervuotos
                            knygos</a></li>
                    <li><a href="#"><img src="{{ asset('bundles/nfqfairytalefrontend/ico-pencil.png') }}">Pasiųlyti
                            knygą</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <div class="sidebar-header">SRITYS</div>
                <ol class="nav">
                    <li>
                        <a ng-href="#/category/popular" ng-class="{active: 'popular' == activeCategoryId}">Populiariausios</a>
                    </li>
                    <li>
                        <a ng-href="#/category/new" ng-class="{active: 'new' == activeCategoryId}">Naujos</a>
                    </li>
                    <li>
                        <a ng-href="#/category/all" ng-class="{active: 'all' == activeCategoryId}">Visos</a>
                    </li>
                </ol>
            </div>
            <hr>
            <div class="sidebar-module categories">
                {% verbatim %}
                <ol class="nav" ng-repeat="category in categories">
                    <li>
                        <a ng-href="#/category/{{ category.id }}" ng-class="{active: category.id == activeCategoryId}">{{ category.title }}</a>
                    </li>
                </ol>
                {% endverbatim %}
            </div>
        </div>
        <div class="col-md-9 content">
            <div class="row header">
                <div class="col-md-4 logo">
                    <img src="{{ asset('bundles/nfqfairytalefrontend/logo.png') }}" class="left">

                    <div class="left"><p>Bi</p>

                        <p>blio</p>

                        <p>teka</p></div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-8 search" ng-controller="SearchController">
                    <img src="{{ asset('bundles/nfqfairytalefrontend/ico-search.png') }}">
                    <input type="text" ng-model="query" ng-keyup="search()"  placeholder="Ieškoti knygos">

                    {% verbatim %}
                    <div id="auto-complete" ng-if="results.length" ng-click="onResultClick()">
                        <div class="book-row" ng-repeat="book in results">
                            <a href="#/book/{{ book.id }}">
                                <div class="left book-image"><img ng-src="{{ book.image.book_tiny }}"></div>
                                <div class="left book-info">
                                    <div class="book-title">{{ book.title }}</div>
                                    <div class="book-authors">
                                        <span ng-repeat="author in book.authors">{{ author.name }}</span></div>
                                </div>
                            </a>

                            <div class="clear"></div>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
            <div ng-view>{% block view %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

    <script>
        var activeUser = {{ activeUser |json_encode |raw }};
    </script>
    {% javascripts
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Generic/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Search/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Sidebar/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/User/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Category/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/Book/*'
    '@NfqFairytaleFrontendBundle/Resources/assets/scripts/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
