{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nfqfairytalefrontend/signin.css') }}">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-offset-4 col-xs-4">
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ asset('bundles/nfqfairytalefrontend/nfq-logo.png') }}" alt="nfq-logo" height="200" class="center-block"/>

                    <h1 class="form-signin-heading text-center">Biblioteka</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error|trans }}</div>
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <input type="text" class="form-control" placeholder="Vartotojo vardas" required="" autofocus="" id="username" name="_username" value="{{ last_username }}">
                        <input type="password" class="form-control" placeholder="Slaptažodis" required="" id="password" name="_password">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Prisiminti
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">
                            Prisijungti
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
