<div class="col-md-12">
    <p class="block-title">Perskaitytos knygos</p>
    {% verbatim %}
    <div class="book" ng-repeat="reservation in returned = (user.reservations | filter:{returnedAt: '!!'})" ng-if="returned.length">
        <a ng-href="#/book/{{ reservation.book.id }}">
            <div class="left image"><img ng-src="{{ reservation.book.image.book_small }}"></div>
            <div class="left info">
                <p class="title">{{ reservation.book.title }}</p>

                <p class="authors"><span ng-repeat="author in reservation.book.authors">{{ author.name }}</span></p>
            </div>
            <div class="right button">
                <a href="#/book/{{ reservation.book.id }}">
                    <img src="/bundles/nfqfairytalefrontend/ico-gt-round.png">
                </a>
            </div>
            <div class="right detail">
                <p class="rating">Įvertinimas: {{ reservation.book | rating:1 }} / 5</p>

                <p class="comments">Komentarai: ({{ reservation.book.comments.length }})</p>
            </div>
        </a>

        <div class="clear"></div>
    </div>
    {% endverbatim %}
</div>
