<div class="reader">
    <div class="empty" ng-if="user.newReader">
        <p class="info-title">Kolkas dar nesi perskaitęs nė vienos knygos</p>
        <p class="info-image"><img src="{{ asset('bundles/nfqfairytalefrontend/book.png') }}"><span>!</span></p>
        <p class="info-detail">Galbūt laikas atsipūsti nuo darbų ir <a href="#">išsirinkti kažką</a> iš bibliotekos lentynų?</p>
    </div>
    <div class="reading" ng-if="!user.newReader">
        <p class="info-title">Dabar skaitau</p>
        {% verbatim %}
        <div class="book" ng-if="user.read.book">
            <a href="#/book/{{ user.read.book.id }}">
                <div class="left image">
                    <img src="/img/books/1.png" ng-src="{{ user.read.book.image }}">
                </div>
                <div class="left">
                    <p class="title">{{ user.read.book.title }}</p>
                    <p class="authors"><span ng-repeat="author in user.read.book.authors">{{ author.name }}</span></p>
                </div>
                <div class="clear"></div>
            </a>
        </div>
        {% endverbatim %}
        <div class="empty-book" ng-if="!user.read.book">
            <p class="image"><img src="{{ asset('bundles/nfqfairytalefrontend/book.png') }}"><span>!</span></p>
            <p class="info">Kad nieko dabar neskaitai</p>
        </div>
    </div>
    <div class="reserved" ng-if="!user.newReader">
        <p class="info-title">Rezervuotos knygos</p>
        {% verbatim %}
        <div class="book" ng-if="user.reserved.book">
            <a href="#/book/{{ user.reserved.book.id }}">
                <div class="left image">
                    <img src="/img/books/1.png" ng-src="{{ user.reserved.book.image }}">
                </div>
                <div class="left">
                    <p class="title">{{ user.reserved.book.title }}</p>
                    <p class="authors"><span ng-repeat="author in user.reserved.book.authors">{{ author.name }}</span></p>
                </div>
                <div class="clear"></div>
            </a>
            <div class="undo-reserve" ng-if="user.reserved.book">
                <a href="#">Atšaukti rezervaciją</a>
            </div>
        </div>
        {% endverbatim %}
        <div class="empty-book" ng-if="!user.read.book">
            <p class="image"><img src="{{ asset('bundles/nfqfairytalefrontend/book.png') }}"><span>!</span></p>
            <p class="info">Neturi knygų rezervacijų</p>
        </div>
    </div>
</div>
