{% verbatim %}
<div class="row">
    <div class="col-md-12 content-breadcrumb">
        <a href="#">Biblioteka</a> &gt;
        <a href="#/category/{{ category.id }}" ng-repeat="category in book.categories">{{ category.title }}</a> &gt;
        <span class="italic">{{ book.title }}</span>
    </div>
</div>
<div class="row" id="content-book">
    <div class="col-md-5">
        <img ng-src="{{ book.image.book_big }}">
    </div>
    <div class="col-md-7">
        <div class="book-title">{{ book.title }}</div>
        <div class="book-authors"><span ng-repeat="author in book.authors">{{ author.name }}</span></div>
        <div class="book-info" ng-switch="book.status">
            <div ng-switch-when="taken" class="book-status taken"><div class="circle"></div>Apleidusi patalpas</div>
            <div ng-switch-when="reserved" class="book-status reserved"><div class="circle"></div>Rezervuota kolegos</div>
            <div ng-switch-when="available" class="book-status available"><div class="circle"></div>Guli lentynoje</div>
            <div ng-switch-default class="book-status unknown"><div class="circle"></div>Kas per statusas "{{ book.status }}" ???</div>
            <div class="book-rating left">Įvertinimas: {{ book.rating }} / 5</div>
            <div ng-if="book.status == 'available'" class="book-reserve right"><a href="#/book/{{ book.id }}/reserve">Rezervuoti</a></div>
            <div class="clear"></div>
        </div>
        <div class="book-details">
            <div class="book-specification">
                <p>Viršelio tipas: {{ book.cover }}</p>
                <p>Puslapių skaičius: {{ book.pages }}</p>
                <p>Leidėjas: {{ book.publisher }}</p>
                <p>Kalba: {{ book.language }}</p>
                <p>ISBN-13: {{ book.isbn }}</p>
            </div>
            <p>{{ book.description }}</p>
        </div>
    </div>
</div>
{% endverbatim %}
