{% verbatim %}
<div class="row">
    <div class="col-md-12 content-title">{{ category.title }}</div>
</div>
<div class="row" id="content-category" ng-if="category.books">
    <div class="book col-md-4" ng-repeat="book in category.books | pagination: curPage * pageSize | limitTo: pageSize">
        <a href="#/book/{{ book.id }}">
            <div class="book-thumb"><img ng-src="{{ book.image.book_small }}"></div>
            <div class="book-info">
                <p class="book-title">{{ book.title }}</p>

                <p class="book-authors"><span ng-repeat="author in book.authors">{{ author.name }}</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-12">
        <ul class="pager" ng-if="category.books.length">
            <li class="previous" ng-class="{disabled: curPage <= 0}">
                <a ng-click="onPrevClick()">&laquo; Atgal</a>
            </li>
            <li>
                <span>{{ curPage + 1 }} / {{ numberOfPages() }}</span>
            </li>
            <li class="next" ng-class="{disabled: numberOfPages() <= curPage + 1}">
                <a ng-click="onNextClick()">Kitas &raquo;</a>
            </li>
        </ul>
    </div>
</div>
{% endverbatim %}
