{% verbatim %}
<div class="row">
    <div class="col-md-12 content-title">{{ category.title }}</div>
</div>
<div class="row" id="content-category">
    <div class="book col-md-4" ng-repeat="book in category.books">
        <a href="#/book/{{ book.id }}">
            <div class="book-thumb"><img ng-src="{{ book.image }}"></div>
            <div class="book-info">
                <p class="book-title">{{ book.title }}</p>

                <p class="book-authors">author{{ book.authors.join(', ') }}</p>
            </div>
        </a>
    </div>
</div>
{% endverbatim %}
